.logo{
    float: left;
    height: 100px;
}
.nav-item{
    margin-left: 200px;
}

#about{
    margin-top: 200px;
}
.container{
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
header{
    
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
}
.cardBox{
    display: flex;
    justify-content: space-between;
    background-color: red;
}