.logo{
    float: left;
    height: 100px;
}
.nav-item{
    margin-left: 200px;
}
navbar{
    height: 200em;

}
#about{
    height: 200em;
}
.container{
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
